extends ../templates/default.jade
block page

	section.section--form
		.section__wrap
			.section__header 
				h2.section__title Bienvenido a tu Guarda compra
			.section__body
				.section__content
					form.form
						h5.form__title ¿Dónde te podemos encontrar?
						.form__element
							.form__input
								select(name="#")
									option(value="0") Selecciona Mail
									option(value="1") Ipsum
									option(value="2") Dolor
						.form__element
							.form__input
								select(name="#")
									option(value="#") Selecciona Tienda
									option(value="#") Ipsum
									option(value="#") Dolor
						h5.form__title Tus Datos:
						.form__element
							.form__input
								input(type="text" placeholder="Nombre")
						.form__element
							.form__input
								input(type="text" placeholder="Rut")
						.form__element
							.form__input
								.cols
									.col-md-4 
										input(type="#" placeholder="+569")
									.col-md-8
										input(type="#" placeholder="Telefono")
						.form__element
							.form__input
								input(type="#" placeholder="Mail")		
						.form__checkbox
							label
								input(type="checkbox" name="#ejemplo-checkbox" )
								|   Acepto los Términos y Condiciones
							label
								input(type="checkbox" name="#ejemplo-checkbox" value="2")
								|   Acepto el reglamento y la política de privacidad para acceder al programa de CMR Puntos.
			.section__footer 
				.form__button 
					button.btn Solicitar