
#sections
	position relative
	left 0%
	transition .5s
	&.sections--left
		left -50%


section
	position relative
	background-color transparent
	color $dark
	overflow hidden
	// Elementos
		
	.section__bg
		cover(absolute)

	.section__title
		font-weight bold

	.section__description
		font-weight normal
		margin-bottom 20px
		@media $break-md
			font-size $global-size-md 
			line-height $global-lh-lg

	
	.section__header
		text-align center
		margin-bottom 20px
		position relative
		.section__title
			position relative
			display block
			margin-bottom 20px
			color $color_primary
			@media $break-md
				max-width 100%

	.section__filters
		margin 10px
		padding-bottom 20px
		position relative
		overflow auto
		white-space nowrap
		margin 0px -20px 30px
		margin-bottom 40px
		padding 20px 5px
		@media $break-limit
			display flex
			text-align center
			justify-content center
			overflow visible
			white-space normal
			margin-bottom 80px

		.section__filter
			display inline-block
			border-radius 20px
			background-color white
			border 1px solid $cyan
			color $dark
			padding 7px 15px
			margin 0px 2px
			transition .3s
			cursor pointer
			font-weight 500
			&:hover
				background-color $cyan
				color white
			&.current
				background-color $cyan
				color white
	
	.section__footer
		width 100%
		text-align center
		.section__description
			color #1D008E
			font-size 10px
			width 50%
			line-height 1.8
			font-family 'Roboto'
			margin 20px auto 0 auto

	

	
	.section__content
		position relative
		color $dark
		line-height $global-lh-md
		font-size $global-size-xmd
		&>*
			animation slideFadeUp .5s ease backwards
			animation-stagger(5,.2s)
		&.section--left
			text-align left

		&.section--right
			text-align right

		&.section--center
			text-align center

		&.section--justify
			text-align justify
		
		blockquote
			p
				line-height $global-lh-md
				font-size $global-size-md
				color $dark
				@media $break-md
					font-size $global-size-lg		

		ul
			margin-bottom 20px
			li
				padding 5px 0px
				&:before
					content ''
					display inline-block
					margin-right 10px
					position relative
					top -1px
					width 10px
					height 10px
					line-height 21px
					text-align center
					border-radius 50%
					overflow initial
					background-color $color_primary

		&.section__content--2col
			@media $break-sm
				column-count 2
				column-gap 40px

		&.section__content--3col
			@media $break-sm
				column-count 2
				column-gap 40px
			@media $break-md
				column-count 3	
	
	.section__flex
		@media $break-md
			display flex
			flex-direction row
			align-items center				

	.section__wrap
		position relative
		max-width $limit
		margin 0 auto
		padding 30px 10px
		@media $break-md
			padding 20px 40px

		&.section__wrap--main
			padding 120px 20px 120px
			@media $break-md
				padding 150px 40px 150px
		

		&.section__wrap--header		
			padding 100px 20px 40px		
			@media $break-md
				padding 150px 40px 20px		

		&.section__wrap--header-doc		
			padding 100px 20px 40px		
			@media $break-md
				padding 150px 40px 80px		
		
		&.section__wrap--md		
			padding 40px 20px
			@media $break-md
				padding 40px	
				
		&.section__wrap--sm
			padding 10px 10px
			@media $break-md
				padding 0px 40px
		
		&.section__wrap--xs	
			padding 30px 20px
			@media $break-md
				padding 30px 20px
			
					
		&.section--xs
			max-width ($limit - 800)

		&.section--sm
			max-width ($limit - 500)

		&.section--md
			max-width ($limit - 340)
		
		&.section--lg
			max-width ($limit - 200)	

	// Variantes


	&.section--dark
		background $dark
		color white
						
	&.section--light
		background: rgba(5,102,116,.07);
		background: linear-gradient(101deg, rgba(5,102,116,.07) 12%, rgba(102,191,191,.07) 100%);
		color $dark
	
	&.section--white
		background white
		color $dark	
	
	&.section--lighter
		background $lighter
		color $dark	

	&.section--white
		background white
		color $dark
	
	&.section--color-primary
		background $color_primary
		color white
	
	&.section--color-secundary
		background $color_primary
		color white	
	
	&.section--gray
		background $gray
		color white	
	
	&.section--grayten
		background grayter
		color white	

	// Types

	
	&.section--main
		height: 100%
		display flex
		justify-content: center
		align-items: center
		margin: 0px 10px
		border-radius: 10px
		.section__wrap
			width: 100%
			height: 100%
			padding 20px 10px 0px
			@media $break-md
				padding 20px 10px 30px
			.col-md-6
				.section__body
					align-items: center
					justify-content: center
					color: white
					display: flex
					flex-direction: column
					gap 15px
					padding: 20px 0px
					.section__logo
						position static
					.section__description
						text-align: center
					.section__buttons
						display: flex
						gap 10px
						.btn 
							font-size: 16px
							line-height: 0px
							vertical-align: middle
							padding 28px 25px
							font-weight: 300
							&.btn--red
								background-color: #E9004B
								color white
								min-width 228.6px
							&.btn--white
								background-color: white
								color #E9004B
								min-width 170.34px
						@media screen and (max-width: 600px)
							flex-direction: column
							text-align: center
							min-width: 283px
				.section__image
					margin-top: -20px
					display: flex
					justify-content: center
					max-width: 282px
					left: 0
					right: 0
					margin-left: auto
					margin-right: auto
					@media $break-md
						position: absolute
						min-width: 500px
					img
						z-index 3
		.section__how
			position: absolute
			bottom 0
			background-color: white
			z-index 5
			display: flex
			justify-content: center
			align-items: flex-end
			border-radius: 16px 16px 0px 0px
			border-bottom: 0px	
			.section__description
				margin: 0px
				padding: 0px 28px
				font-weight: 600
				font-size: 18px
				@media $break-md
					margin: 2px 0px -4px 
			img.img__der
				position absolute
				right -12px
			img.img__izq
				position absolute
				left -12px

	&.section--cards
		margin-top: 20px
		.section__wrap
			padding 25px 20px
			display: flex
			justify-content: center
			margin 0px auto
			flex-direction: column
			.section__header
				background-color: white
				width 190px
				display: flex
				justify-content: center
				margin: 0 auto
				.section__title
					color #3F3F3F
					font-weight: 500
					font-size: 20px
			.section__body
				max-width 400px
				margin: 0 auto
				@media $break-md
					max-width: 800px
			.section__footer
				background-color: #FEF9E6
				padding: 30px
				margin 30px auto 0 auto
				display: flex
				justify-content: center
				align-items center
				max-width: 400px
				border 1px dashed #F2C204
				border-radius: 8px
				@media $break-md
					max-width: 70%
				.section__disclaimer 
					margin 0 auto
					font-size: 12px 
					display: absolute
					&:before 
						content "\f06a"
						font-family "FontAwesome"
						position relative
						margin-right 10px
						top 0
						left 0
						color #F2C204
				@media $break-md
					padding: 20px
					margin-top 30px
					min-width 800px
		
	&.section--curve
		border 0px
		.section__wrap
			margin-bottom: -4px
			padding: 0px
			width: 100%
			max-width: 100%	
			img
				margin 0 auto
				width 100%

	&.section--form
		.section__wrap
			display: flex
			justify-content: center
			align-items: center
			margin: 0 auto
			flex-direction: column
			background-color: white
			max-width: 338px
			border: 1px solid gray
			border-radius 8px
			.section__title
				font-size: 24px
				line-height: 32px
				font-weight: 200
				color: #2B2B2B
			.section__body
				display: flex
				justify-content: center
				align-items: center
				margin: 0 auto 20px
				form 
					display: flex
					flex-direction: column
					justify-content: center
					align-items: center
					min-width: 100%
					gap 28px
					.form__title
						margin 0px
						font-weight: 200
					.form__element
						width: 100%
						.col-md-4, .col-md-8
							margin 0px
						select, input
							width 100%
							padding: 10px
							border: 1px solid gray
							border-radius: 8px
							color #A7A7A7
					.form__checkbox
						display: flex
						flex-direction: column
						justify-content: flex-start
						width: 100%
			.btn
				background-color: #E9004B
				padding: 15px 20px