
// Reset

*
	margin 0
	padding 0
	border 0
	outline 0
	box-sizing border-box


// Base styles

body
	-webkit-font-smoothing antialiased
	background white


body, button, input, textarea, select
	font-family $font
	font-size $global-size +2
	line-height $global-lh
	color black

a, button, input, textarea, select
	transition .2s ease

a
	color $color_primary
	text-decoration none
	&.a-classic
		text-decoration underline
	&:hover
		cursor pointer

button
select
label
input[type='checkbox']
input[type='radio']
	&:hover
		cursor pointer

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5
	margin-bottom $sep
	font-family $font
	font-weight bold

p
	margin-bottom $sep

h1
.h1
	title h1

h2
.h2
	title h2

h3
.h3
	title h3

h4
.h4
	title h4

h5
.h5
	title h5

ul
ol
	list-style-type none

img
	display block
	width auto
	height auto
	max-width 100%
	margin 0 auto

svg
	display block
	max-width 100%

