// Layout

$header-height      = 70px
$header-height-md   = 100px


// Colors

$color_primary      = #0171f2
$color_secondary    = #0008C1
$cyan               = #11DFC3
$cyan2              = #1ABFA9
$dark               = #231750
$gray               = #414141
$grayter            = #575c63
$light              = #fefeff
$lightblue          = #E7EBFF
$lighter       		= #f4f4f4
$white              = #FFFFFF
$background-color-grad = linear-gradient(90deg, rgba(46,50,127,1) 1%, rgba(32,39,102,1) 100%)


// Global
$global-bg          = $color_primary
$global-color       = $dark
$global-size        = 14px
$global-size-sm     = $global-size - 1
$global-size-xs     = $global-size - 2
$global-size-xxs    = $global-size - 3
$global-size-xxxs   = $global-size - 4
$global-size-xmd    = $global-size + 1
$global-size-md     = $global-size + 2
$global-size-lg     = $global-size + 4
$global-lh          = 22px
$global-lh-sm       = $global-lh - 4
$global-lh-xs       = $global-lh - 8
$global-lh-xxs      = $global-lh - 12
$global-lh-md       = $global-lh + 4
$global-lh-lg       = $global-lh + 8
$global-sep         = 20px

// Layout
$limit              = 1400px
$limit2             = 1400px
$limit-header       = 1090px


// Fonts
$font               = 'Rubik', sans-serif
$font2              = 'Rubik', sans-serif


// CSS vars
$shadow             = 0 7px 30px -10px rgba(150,170,180,0.2)
$shadow_hover       = 1px 2px 10px rgba(0,0,0,.3)
$rad                = 2px
$sep                = 20px
$shadow2            = 1px 5px 10px rgba(0,0,0,.2)


// Titles

$title_base          = 14px
$title_aument        = 6px
$title_lineheight    = 1.1


// Proportional titles

$title_h1            = $title_base + ($title_aument*6)
$title_h2            = $title_base + ($title_aument*3)
$title_h3            = $title_base + ($title_aument*2)
$title_h4            = $title_base + ($title_aument*1)
$title_h5            = $title_base + ($title_aument*0)

$title_h1_lh         = ceil( $title_h1 * $title_lineheight )
$title_h2_lh         = ceil( $title_h2 * $title_lineheight )
$title_h3_lh         = ceil( $title_h3 * $title_lineheight )
$title_h4_lh         = ceil( $title_h4 * $title_lineheight )
$title_h5_lh         = ceil( $title_h5 * $title_lineheight )


// Bootstrap grid vars

$break              = 240px

$screen-sm          = $break * 2
$screen-md          = $break * 3
$screen-lg          = $break * 4
$screen-limit       = $break * 5

$break-sm           = "(min-width $screen-sm-min)"
$break-md           = "(min-width $screen-md-min)"
$break-lg           = "(min-width $screen-lg-min)"
$break-limit        = "(min-width " + $limit-header + ")"
$break-limit-xl     = "(min-width " + $limit-xl + ")"

$break-sm-i         = "(max-width $screen-sm)"
$break-md-i         = "(max-width $screen-md)"
$break-lg-i         = "(max-width $screen-lg)"
$break-limit-i      = "(max-width " + $limit-header + ")"

$grid-gutter-width  = $sep

$bower-path         = "../../bower_components"

$g-pad				= 20px // Global padding


// Default cubic bezier
$cb                  = cubic-bezier(0.77, 0, 0.175, 1)


// Social colors
$color-facebook     = #3b5998
$color-twitter      = #00aced
$color-googleplus   = #dd4b39
$color-youtube      = #bb0000
$color-linkedin     = #007bb6
$color-instagram    = #517fa4
$color-pinterest    = #cb2027
$color-foursquare   = #0072b1
$color-whatsapp     = #4dc247
$color-blogger      = #ea7d08
$color-vimeo        = #409dcf
$color-flickr       = #0063DC
$color-tripadvisor  = #589442

// Z-index definitions

$z-index-header		= 20
$z-index-supernav   = 18
$z-index-search		= 40
$z-index-modal		= 30
$z-index-article    = 6
$z-index-fixed      = 25
$z-index-overview	= 31

