footer
    .footer__wrap 
        .footer__logos 
            img(src="./img/uploads/Vector.png")
            img(src="./img/uploads/Vector-1.png")
        .footer__icons
            ul
                li.a.btn(href="#") Preguntas frecuentes
                
                li.footer__hour 11:00 a 20:00
                 
                li.p.footer__phone 600 585 7000
                 
                li.p.footer__mail Escribenos